.yahya{
  
    padding: 20px;
    margin: 10px;
    border: solid;

}
.k{
    text-align: center;
}
.m{
background-color: blueviolet;
}
.n{
    background-color: red
}
.b{
    background-color: aqua;
}
.v{
    background-color: brown;
}
.c{background-color: bisque;
    
}
.x{
    background-color: rgb(233, 28, 199);
}
.a{
   background-color: rgb(12, 216, 213); 
}
.aa{
    background-color: rgb(235, 88, 15);
}
.aaa{
    background-color: rgb(18, 234, 75);
}
.aaaa{
    background-color: rgb(244, 9, 162);
}